.spacer

= simple_form_for @entry, html: { autocomplete: 'off' } do |f|
  .middle= f.input :title, autofocus: true, placeholder: "Title", label: false

  .middle= f.button :submit, "Start writing", class: 'start', id: 'start-stop'