@import "_all_partials";

.form-group {
  
  margin: 10px 0px;
  width: 100%;
  display: inline-block;
  
  input, label, select {
    float: left;
  }

  label {
    width: 160px;
    margin-top: 40px;
  }

  input, select {
    margin: 30px auto 10px auto !important;
    
    &.form-control {
      max-width: 300px;
      background: none;
      padding: 20px 0 !important;

      &:focus {
        outline: none !important;
        box-shadow: none !important;
        border: 1px solid #aaa;
      }
    }
  

  }

  .radio {

    label {
      margin: 30px 0;
      padding: 0;
      float: left;
      width: 100px;
    }

    .radio_buttons {
      float: left;
    }

    input[type="radio"] {
      position: inherit;
      margin: 0 12px 0 0 !important;
    }
  }

  input {
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #ddd !important;
    box-shadow: none !important;
    border-radius: 0 !important;

    @include input-placeholder-color(#ddd);
    font-size: 1em;


    &:focus {
      outline: none !important;
      box-shadow: none !important;
      border-bottom: 1px solid #aaa !important;
      @include input-placeholder-color(#aaa);
    }
  }

}

.centered {
  input {
    &.form-control, &.btn {
      float: none;
      display: block;
      margin: auto;
      
    }

    &#start-stop {
      display: block;
      padding: 10px 15px;
      border-radius: 3px;
      text-transform: uppercase;
      opacity: .7;
      
      &:hover {
        opacity: 1;
      }

      &.start {
        background: none;
        border: 1px solid $green;
        color: $green;
      }

      &.stop {
        background: none;
        border: 1px solid $red;
        color: $red;
      }

    }
  }
}

.alert {
  margin: 10px 0;
}