@import _all_partials
@import foundation-icons


$body-font: 'San Francisco Display', 'Helvetica', sans-serif
$decorator-font: 'DINComp', 'Roboto', 'Helvetica', sans-serif
$monospace-font: 'Inconsolata XL', monospace

*
  font-family: $body-font !important
  // font-weight: 300 !important
  color: $dark-grey
  font-size: 12pt !important

.alert, #flash_notice
  font-size: 12pt !important

h1
  font-size: 2.6em !important
  margin: 30px 0 0px 0 !important
  font-weight: 100

h3
  font-family: $decorator-font !important
  text-transform: uppercase
  font-size: 1.2em

.date
  color: $med-light-grey
  text-transform: uppercase
  font-size: .9em !important
  font-family: $decorator-font !important
  margin: 7px 0

p
  margin: 20px 0 !important
  font-size: 10pt
  line-height: 1.53em !important
  font-weight: 300
  white-space: pre-line

a
  color: $green !important
  background-color: none !important
  &:hover
    color: $dark-green !important
    background-color: transparent !important
    cursor: pointer
    text-decoration: none !important

  &.subtle-link
    color: $light-grey !important
    &:hover
      color: $med-light-grey !important

p > a
  color: $green !important
  &:hover
    color: $dark-green !important

.small, .small *
  font-size: 9.5pt !important
  opacity: 0.8

pre, pre *
  font-family: $monospace-font !important

.inactive
  color: $grey
  font-family: $decorator-font
  text-transform: uppercase
  position: absolute

$divider-padding: 40px
.divider
  width: 100%
  margin: auto
  height: 30px + $divider-padding
  position: relative
  .line
    position: absolute
    left: 50%
    transform: translateX(-50%)
    top: 8px + $divider-padding
    width: 70%
    height: 1px
    background-color: $light-grey
  .text
    left: 50%
    transform: translateX(-50%)
    position: absolute
    background-color: $light-background
    margin: $divider-padding 0
    padding: 0 10px
    @extend .inactive
