// GREY-BLUES
$grey-blue: #6a7e8a
$light-grey-blue: lighten($grey-blue, 35%)
$lighter-grey-blue: #eaeff2
$lightest-grey-blue: lighten(#eaeff2, 5%)
$dark-grey-blue: darken(#6a7e8a, 5%)

// GREYS
$lightest-grey: #fcfcfc
$lighter-grey: #eee
$light-grey: #ddd
$med-light-grey: #ccc
$grey: #bbbbbb
$med-dark-grey: #777
$dark-grey: #444
$darker-grey: rgba($dark-grey, .7)

// BLUES
$blue: #3bc
$dark-blue: darken($blue, 10%)

// ACCENT COLORS
$green: #27d096
$dark-green: darken($green, 10%)
$red: red
