// Place all the styles related to the Account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import _all_partials

.profile-pic
  margin: 50px 20px 10px 20px
  height: 420px
  width: 420px
  background-color: $lighter-grey
  
  a
    margin-top: 45%
    width: 100%
    display: inline-block
    text-align: center