/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add he˚∫re take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900,300italic,700italic,900italic);

* {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 18pt;
}

#texteditor {
  margin-top: 30px;
  letter-spacing: 1px;
  overflow-wrap: break-word;

  p {
    margin: 20px 0;
    line-height: 1.53em;
    display: block;
  }

  .pale {
    opacity: .2;
    font-style: italic;
  }
}


main, contenteditable { 
  background: none !important;
}

.light {
  background: white !important;
  color: black;
}

.dark {
  background: #222 !important;
  color: white;
}