// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_all_partials";

.entry-card {
  height: 450px;
  overflow: hidden;

  a.link-btn {
    margin-top: 14px;

    color: $light-grey;
    &:hover {
      color: $grey;
    }
  }
}