// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import _all_partials

$entry-card-height: 350px

.entry-card
  height: $entry-card-height
  width: 98%
  overflow: hidden

  padding: 30px
  margin: 5px
  border-radius: 4px

  &:hover
    cursor: pointer

  a.link-btn
    float: right
    padding: 5px
    margin-top: -5px
  
  h2
    margin: 0    

  p
    float: left
    overflow: hidden
    text-align: justify
    font-size: 13pt !important
    margin: 0 !important

    &:before
      content: ""
      display: block
      position: absolute
      margin-top: 240px
      height: $entry-card-height
      bottom: 1px
      left: 1px
      width: 97%
      margin: 5px

.dark
  .entry-card

    border: 1px solid $lighter-grey-blue
    background-color: $lighter-grey-blue
    color: black

    &:hover
      background-color: $lightest-grey-blue
      color: black

    a.link-btn
      color: $light-grey  
      &:hover
        color: $grey

    p
      &:before
        +linear-gradient($lighter-grey-blue, 0.0, 70%, $lighter-grey-blue, 1.0, 100%)
      &:hover:before
        +linear-gradient($lightest-grey-blue, 0.0, 70%, $lightest-grey-blue, 1.0, 100%)

.light

  .entry-card

    border: 1px solid $lighter-grey
    color: black

    &:hover
      background-color: $lighter-grey
      color: black

    a.link-btn
      color: $light-grey  
      &:hover
        color: $grey

    p
      &:before
        +linear-gradient(white, 0.0, 70%, white, 1.0, 100%)
      &:hover:before
        +linear-gradient($lighter-grey, 0.0, 70%, $lighter-grey, 1.0, 100%)

#texteditor
  margin: 30px
  letter-spacing: 1px
  overflow-wrap: break-word
  width: 100%
  padding-bottom: 45vh

  p.pale
    opacity: .2
    font-style: italic
