@import "_all_partials";

.navbar-nav > li > a {
  font-size: .8em !important;
  padding-top: 18px;
  font-family: 'DINComp' !important;
  text-transform: uppercase;
  span {
    position: absolute;
    top: 0;
    padding-top: 16px;
  }
}

.navbar-brand {
  font-weight: bold !important;
  padding-top: 15px;
  a {
    font-size: 24px !important;
  }
}

.light {

  .navbar-inverse {
    @media (min-width: 786px) {
      background: rgba(white, .95);
      @include box-shadow($light-grey);
      border: none;

      .navbar-nav > li {
        a, a span i {
          color: $grey !important;
          &:hover { color: $med-dark-grey !important; }
        }
      }
    }
  }

}

.dark {

  .navbar-inverse {
    @media (min-width: 786px) {
      background: rgba($grey-blue, .8);
      border: none;

      .navbar-brand, .navbar-nav > li > a {
        color: $light-grey-blue !important;
        &:hover { color: white !important; }
      }
    }
  }

}