@import "_all_partials";

.navbar-brand, .navbar-nav > li > a {
  font-size: .8em !important;
}

.navbar-brand {
  font-weight: 700;
}

.light {

  .navbar-inverse {
    @media (min-width: 786px) {
      background: rgba(white, .7);
      border: none;

      .navbar-brand, .navbar-nav > li > a {
        color: $grey !important;
        &:hover { color: black !important; }
      }
    }
  }

}

.dark {

  .navbar-inverse {
    @media (min-width: 786px) {
      background: rgba($grey-blue, .8);
      border: none;

      .navbar-brand, .navbar-nav > li > a {
        color: $light-grey-blue !important;
        &:hover { color: white !important; }
      }
    }
  }

}